
input::-webkit-calendar-picker-indicator:hover{
  display: none;
}

#divBusca{
 display: flex;
 align-items: center;
 background: #fff;
 width: 100%;
 padding-left: 15px;
 border-radius: 7px 7px 7px 7px;
}

/*Fontes*/
@font-face {
  font-family: "ShulphurPointRegular";
  src: url("../../../../assets/fonts/Search_Nav/SulphurPoint-Regular.ttf");
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('../../../../assets/fonts/menu_DropON/Poppins-SemiBold.ttf');
}

/*Fonte Search*/


#divBusca img{
  width: 25px;
}

.SearchInputHeader {
  border: none;
  outline: none;

  width: 370px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  border-radius: 7px 7px 7px 7px;

  font-family: 'ShulphurPointRegular';
  font-size: 22px;
  color: rgb(59, 59, 59);
  line-height: 40px;
}

.listDasBuscas{
  
}

.listaTodosProcurados li{
  padding: 8px 0px 8px 15px;
  /* border: 1px solid red; */

}

.listaTodosProcurados li:hover{
  background-color: #d7d7d7;
}
.listaTodosProcurados li h4{
  font-family: "PoppinsSemiBold";
  font-size: 14px;
  margin: 0px 0px 5px 0px;
}

.listCantBeOpen{
  display: none;
}

.listCanBeOpen{
  background-color: #FFF;
  width: 540px;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  padding: 20px 0px 20px 0px;
  margin-top: 32.5px;
  border-top: 5px solid #F94747;
}

.nenhumResultadoEncontrado{
  font-family: "PoppinsSemiBold";
  font-size: 14px;
  /* border: 1px solid red; */
  padding: 8px 0px 8px 15px;
}