@font-face {
  font-family: 'PoppinsMedium';
  src: url("../../../assets/fonts/TopoDicas/Poppins-Medium.ttf");
}

.listagemOpçõesMenus div {
  background-color: #03a9f4;
 
  transition: transform 100ms ease-in-out;
}

.listagemOpçõesMenus div:hover{
  transform: scale(1.04);
  cursor: pointer;
}


.listaCriaEdita {
  padding: 10px;
  margin: 0% 5% 3% 5%;
  border: 1px solid #D9D9D9;
  display: grid;
  grid-template-columns: 0.8fr 1fr ;
  gap: 10px;
  height: 430px;
  margin-top: 40px;
}

.listagemOpçõesMenus {
  /* border: 12px solid rgb(52, 65, 163); */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
  
}

.listagemOpçõesMenus {
  /* border: 1px solid #D9D9D9; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
  border-radius: 3px;
  padding: 5px 10px;

  
}

/* .pedidosRelacionados ul thead tr td:nth-child(1) {
  border: 0.5px solid rgb(55, 55, 55);
  width: 10%;
  text-align: center;
  font-family: 'PoppinsMedium';
  font-size: 14px;
  font-weight: bold;
}
.pedidosRelacionados ul thead tr td:nth-child(2) {
  border: 0.5px solid rgb(0, 255, 21);
  width: 400px;
  padding-left: 5px;
  font-family: 'PoppinsMedium';
  font-weight: bold;
  font-size: 14px;
}
.pedidosRelacionados ul thead tr td:nth-child(3) {
  border: 0.5px solid rgb(66, 147, 212);
  width: 18%;
  padding-left: 5px;
  font-family: 'PoppinsMedium';
  font-size: 14px;
  font-weight: bold;
}
.pedidosRelacionados ul thead tr td:nth-child(4) {
  border: 0.5px solid rgb(0, 255, 21);
  width: 22%;
  padding-left: 5px;
  font-family: 'PoppinsMedium';
  font-size: 14px;
  font-weight: bold;
}

.pedidosRelacionados ul tbody tr td{
  font-family: 'PoppinsMedium';
  font-size: 14px;
  
} */

.pedidosRelacionados tbody tr:nth-child(odd) {
  background: #d6d8db;
}
.pedidosRelacionados tbody tr:nth-child(even) {
  
  background: #fdfdfe;
}

  .OptionTapiocaCrepioca, .OptionLanches, .OptionSaladas, .OptionBebidas, .OptionSobremesas, .OptionDoces {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  color: #003147;

  border-radius:5px;

  max-height: 150px;
} 


.algun{
  text-align: center;
  padding: 15px;
  font-weight: lighter;
  /* border: 1px solid red; */
}
.algun2{

  padding: 15px;

  /* border: 1px solid red; */
}
.algun3{
  text-align: center;
  padding: 15px;

  /* border: 1px solid red; */
}
.algun4{
  display: flex;
  
  justify-content: space-around;
  align-items: center;

  
  padding: 15px 0px 15px 0px ;

  /* border: 1px solid red; */

}

.algun4 button{
  padding: 2px 4px;
  font-family: 'PoppinsMedium';
  font-size: 13px;
  border: none;
  border-radius: 3px;
}

.algun4 button:nth-child(1){
  background-color: #ffeeba;
  margin-right: 10px;
}

.algun4 button:nth-child(1):hover{
  cursor: pointer;
  background-color: #f9d978;
}
.algun4 button:nth-child(2){
  margin-right: 10px;
  background-color: #f5c6cb;
}
.algun4 button:nth-child(2):hover{
  cursor: pointer;
  background-color: #f58f99;
}

.pedidosRelacionados {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #D9D9D9;
  max-height: 450px;
  border-radius: 3px;
}
.pedidosRelacionados table{
  width: 100%;
  border-collapse: collapse;
  margin: 0px auto;
}

.pedidosRelacionados td, .pedidosRelacionados th{
  padding:  5px 10px;
  text-align: center;
  border: 1px solid rgb(162, 162, 162);
}

.pedidosRelacionados thead tr th{
  background-color: #fff;
  font-family: 'PoppinsMedium';
  font-size: 14px; 
  border-top: none;
}
.pedidosRelacionados tbody tr{
  font-family: 'PoppinsMedium';
  font-size: 13.5px; 
}

.edicaoTopo  {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}
.edicaoTopo div {
  border: 1px solid red;
}


.edicaoVoltar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edicaoTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.edicaoInputsoForm {
  /* border: 1px solid red; */
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.InputsForm {
  margin-top: 5px;
  border: 1px solid blue ;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  padding: 0px 0px 0px 10px;
}

.EditarListar{
  margin: 0px 10px 0px 0px;
  text-align: center;
  padding: 5px;
}

.divEdicaoDosItensDoProduto{
  border: 1px solid red;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.divEdicaoDosItensDoProduto div{
  border: 1px solid #29d6c2;

}