.NavTop{

  width: 70%;
  min-width: 200px;
  margin: 0px auto -10px auto;
  padding: 30px 0px;


  display: grid;
  grid-template-columns:  0.5fr 1fr 2fr 1fr ;


  gap: 30px;
}


.LogoHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}

.LogoHeader img{
  width: 130px;
}

.CardapioHeader {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .CardapioHeader img{
   width: 45px;
 }

 .SearchHeader{
  display: flex;
  align-items: center;
 }
 #SacolaHeader{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 25px;

 }




