*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  
}


/* .Container {
  position: relative;
  width: 100%;
} */

.Navegation {
  min-height: 100vh;
  background: #003147;
  transition: 0.5s;
  overflow-x: hidden;
}

/* .BotaoON {
  width: 300px;
}
.BotaoOFF {
  width: 60px;
} */

/* .Navegation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% ;
}

.Navegation ul li {

  width: 100%;
  list-style: none;
} */

.Navegation ul li:hover {
  background: #03a9f4;
}
.Navegation ul li:nth-child(1) {
  margin-bottom: 20px;
}

.Navegation ul li:nth-child(1):hover {
  background: transparent;
}

.Navegation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.Navegation ul li a .Icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}


.Icon img {
  max-width: 25px;
  font-size: 24px;
}

.Navegation ul li a .Title {
  position: relative;
  display: block;
  padding: 0px 10px;
  height: 60px;
  line-height: 50px;
  white-space: nowrap;
}

.main {
  position: absolute;

  top: 0px;
  left: 300px;
  min-height: 100vh;

  background: #f5f5f5;
  transition: 0.5s;
}

.MainON{
  width: calc(100% - 300px);
  left: 300px;
}
.MainOFF{
  width: calc(100% - 60px);
  left: 60px;
}

.main .TopBar {
  width: 100%;
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.IrformacoesGerais {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  text-align: center;

  margin: 0 auto 0 auto;
  

  color: #fff;
  position: relative;
  top: -10px;
  width: 90%;
  margin: 0px auto 0px auto;
  background: #003147;
  height: 170px;

  border-radius: 6px;
}

.IrformacoesGerais div{
  color: #f5f5f5;
  background-color: #03a9f4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
  
  

}

.Toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  line-height: 75px;
}

.Toggle img {
    width: 25px;


}

.search {
  position: relative;
  width: 30%;
  margin: 0px auto 0px auto;
}

.search label {
  position: relative;
}

.search img {
  width: 24px;
  position: absolute;
  left: 15px;
  top: -3px;
}

.search label input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 45px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.2);
}

#pintaDeAzul{
  background-color: #03a9f4;

}

.botõesCriarOuEditar {
  margin:  0px 5%;
}

.CadastrarNovo {
  margin: 0px 10px 0px 0px;
  text-align: center;
  padding: 5px;

}
.ListarEditar {
  margin: 0px 10px 0px 0px;
  text-align: center;
  padding: 5px;
}



/* 
.listagemOpçõesMenus {
  border: 1px solid rgb(52, 163, 52);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
  
} */














